.cookie-preference-dialog {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	background-color: #fff;
	padding: 30px;
	width: 40%;
	transform: translate3d(100%, 0, 0);
	transition: all 0.5s ease-in-out;

	&.is-visible {
		transform: translate3d(0, 0, 0);
		z-index: 7;
	}
}


button {
	outline: none;
	background-color: transparent;
	border: 0;
	padding: 10px 20px;
	border: 2px solid #000;
	color: #000;
	transition: all .5s ease-in-out;
	cursor: pointer;

	&:hover {
		color: #fff;
		background-color: #000;
	}
}

.cookie-options-wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
	.title {
		margin-bottom: 20px;
	}
}

.cookie-option {
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkbox-control {
	flex-basis: 20%;
}

.description {
	p {
		color: #000;
	}
}

.checkbox-container {
	display: block;
	position: relative;
	/* min-height: 30px; */
	/* padding-left: 35px; */
	/* margin-bottom: 12px; */
	/* font-size: 22px; */
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	//transition: all .5s ease-in-out;

	input {
    /* position: absolute; */
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
	}

	p {
		font-size: 16px;
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: transparent;
		border: 2px solid #000;
		transition: all .3s ease-in-out;
	}

}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
	background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
	background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}



.body-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: all 0.3s ease-in-out 0.3s;
	z-index: -1;

	&.is-visible {
		opacity: 1;
		z-index: 6;
	}
}