
.cookie-consent-banner {
	background-color: #000;
	min-height: 80px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9999999;
	padding: 20px;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease-in-out;

	h1 {
		color: #fff;
  }

  button {
    outline: none;
    background-color: transparent;
		border: 0;
		padding: 10px 20px;
		border: 2px solid #fff;
		color: #fff;
		transition: all .5s ease-in-out;
		cursor: pointer;
		&:hover {
			color: #000;
			background-color: #fff;
		}
	}


  button + button {
    margin-left: 20px;
  }

	a {
		color: #fff;
		font-family: Arial;
		font-size: 1.1em;
		text-decoration: none;
		border-bottom: 1px dotted #fff;
  }

  a:hover {
    border-bottom-style: solid;
  }

	p {
		color: #fff;
		font-family: Arial;
		font-size: 1.1em;
		text-decoration: none;
	}
	&.show {
		opacity: 1;
		visibility: visible;
	}
}
